---
import '@/css/globals.css'

import Header from '../../layouts/header.astro'
import NavBar from '../../layouts/navbar.astro'
import Footer from '../../layouts/Footer.astro'
---

<Header>
    <NavBar />
    <div class="content">
        <div class="viewBox">
            <h3 style="text-align: center;" class="font-heading text-3xl font-bold text-gray-900 mb-2">Charlotte Metro Communist Club</h3>
            <p class="mb-2">The Charlotte Metro Communist Club is a CPUSA club started in 2020. The CMCC is attempting to help the working class organize around the Charlotte Metro Area in North Carolina.</p>
        </div>
    </div>
    <Footer />
</Header>
<style>
    body {
        background-color: #C14A36;
        font-family: 'Iosevka Web';
    }
    .content {
        background-color: white;
    }
    .viewBox {
        margin-left: 2vw;
        margin-right: 2vw;
    }
</style>