---
import '@/css/globals.css'

import Header from '../../../layouts/header.astro'
import NavBar from '../../../layouts/navbar.astro'
import Footer from '../../../layouts/Footer.astro'
---

<Header>
    <NavBar />
    <div class="content">
        <div class="viewBox">
            <h2 style="text-align: center;" class="font-heading text-3xl font-bold text-gray-900 mb-2">Reform or Revolution</h3>
            <h4 id="definitions" class="font-heading text-3xl font-bold text-gray-900 mb-4">Definitions</h4>
            <ul class="list-disc list-outside m-2 ml-6">
                <li>
                    <p><strong>In Explanation of the Social Problem</strong> - Johannon Karl Rodbertus, August 12th 1805 - December 6th 1875, was a German economist and socialist. He is most known to marxists for alleging that Marx plagiarized his works. Engels vehemently refuted this allegation in both the Preface to <a href="https://www.marxists.org/archive/marx/works/1847/poverty-philosophy/pre-1885.htm" class="text-blue-900">The Poverty of Philosophy</a> and in <a href="https://www.marxists.org/archive/marx/works/1885-c2/ch00.htm" class="text-blue-900">Capital Vol. 2.</a></p>
                    <p>I unfortunately cannot find 'In Explanation of the Social Problem'; however, it has been stated that Rodbertus' view of the social question was a "purely economic one". He is also known for stating that the crisis of capitalism was premised on underconsumption, which has been refuted by many Marxists since.</p>
                    <p>Sources: <a href="https://www.marxists.org/reference/subject/economics/rodbertus/index.htm" class="text-blue-900">marxists.org</a>, <a href="https://en.wikisource.org/wiki/The_New_International_Encyclop%C3%A6dia/Rodbertus,_Johann_Karl" class="text-blue-900">wikisource.org</a></p><br />
                </li>
                <li>
                    <p><strong>Kiao-Cheou</strong> - Wilhelm II, sought to establish a German presence in China for many years. After receiving the guidance of a geologist who recommended modern-day Jiāozhōu Bay for its deep waters and mineral contents (mainly coal and iron), as well as failed diplomatic deliberation with the Chinese Imperial Government, Wilhelm II sent the German Navy to occupy said bay on November 14th, 1897. On March 6th, 1898, this occupation led to a treaty that allowed the Germans control of the bay for 99 years.</p>
                    <p>Source: <a href="https://www.researchgate.net/publication/341578565_German_Imperialism_in_China_The_Leasehold_of_Kiaochow_Bay_1897-1914" class="text-blue-900">Research Gate</a>, Coco, Orazio. (2020). German Imperialism in China: The Leasehold of Kiaochow Bay (1897–1914). 1-19. 10.1080/1547402X.2020.1750231.</p>
                    <br /><img src="/Jiazhou-Bay.gif" alt="Jiazhou Bay" />
                    <p>Source: <a href="https://javanews30.blogspot.com/2011/07/jembatan-jiaozhou-bay.html" class="text-blue-900">javanews30.blogspot.com</a></p>
                </li>
            </ul>
            <h4 id="discusion-questions" class="font-heading text-3xl font-bold text-gray-900 mt-6 mb-2">Discussion Questions</h4>
            <ul class="list-disc list-outside m-2 ml-6">
                <li>
                    <p>How has Bernstein's idea of increasing shareholders developed?</p>
                </li>
                <li class="mt-2">
                    <p>What are some of the limitations of trying to simply "make the poor rich"?</p>
                </li>
                <li class="mt-2">
                    <p>What is the importance behind Marx's discovery of "grounds of support for the realization of socialism in the economic condition of capitalism"?</p>
                </li>
                <li class="mt-2">
                    <p>Why might revisionists attempt to refute Marx's Labor Theory of Value?</p>
                </li>
                <li class="mt-2">
                    <p>What is the role of cooperatives?</p>
                </li>
                <li class="mt-2">
                    <p>What is the role of democracy under capitalism?</p>
                </li>
                <li class="mt-2">
                    <p>How do the goals of reform differ from those of revolution?</p>
                </li>
                <li class="mt-2">
                    <p>Is the role of legislative reform under capitalism different from previous systems?</p>
                </li>
                <li class="mt-2">
                    <p>What motives might Bernstein have to warn of a "premature revolution"?</p>
                </li>
            </ul>
        </div>
    </div>
    <Footer />
</Header>
<style>
    body {
        background-color: #C14A36;
        font-family: 'Iosevka Web';
    }
    .content {
        background-color: white;
    }
    .viewBox {
        margin-left: 2vw;
        margin-right: 2vw;
    }
</style>