---
import '@/css/globals.css'

import Header from '@/layouts/header.astro'
import NavBar from '@/layouts/navbar.astro'
import Footer from '@/layouts/Footer.astro'
---

<Header />
<NavBar />
<div class="bg-white p-4 my-4">
    <img src="/george-jackson.jpeg" alt="George Lester Jackson" class="object-scale-down size-[25vh]" />
    <h1 id="george-lester-jackson" class="font-heading text-3xl font-bold text-gray-900 mb-4">George Lester Jackson</h1>
    <p><bold class="font-semibold">George Lester Jackson</bold> was born September 23rd, 1941 in Chicago Illinois. His family moved to Los Angeles in 1956 where George would first be arrested at 15 for stealing a motorcycle. He would be arrested a few more times over the coming years. Finally, in 1961, he would be arrested for armed robbery of $71 from a gas station and received a sentence of 1 year to life. He would spend his last 11 years in prison.</p>
    <br />
    <p>In 1966, George established the Black Guerilla Family. In 1970 he and two others were accused of killing a guard while in Soledad Prison, which would give George and the two others the name, the Soledad Brothers. His brother Johnathan would storm a courthouse on August 7th, 1970 with three others to demand the release of George and the other Soledad Brothers. From <a href="https://freedomarchives.org/projects/the-50th-anniversary-of-the-august-7th-marin-county-courthouse-rebellion/" class="text-blue-900">freedom archives</a>:</p>
    <blockquote class="italic font-semibold p-4 my-4 bg-slate-200 rounded-tl-lg border-slate-600 border-[2px]">
        <p>On August 7, 1970 - ... – Jonathan Peter Jackson the 17-year old brother of George Jackson, brought 3 guns into the Marin County Hall of Justice, where Judge Haley was presiding over the trial of San Quentin prisoner James McClain. He drew weapons from his satchel, and with the assistance of McClain and 2 prisoners who were witnesses for McClain, Ruchell Magee and William A. Christmas, took Judge Haley, Deputy District Attorney Gary Thomas and 3 female jurors hostage. Upon exiting the courthouse, Jackson and the other kidnappers attempted to flee with the hostages in tow. Police and prison guards opened fire on the van Jackson was driving. At the end of the shootout, Jackson, Haley, McClain and Christmas were dead and McGee and Thomas were seriously injured.</p>
    </blockquote>
    <p>George Jackson would be killed during a prison riot on August 21st, 1971. Guards alleged that he was attempting to escape San Quentin, however, given the animosity from guards towards George, this has been seen as highly contentious. </p>
    <p>Huey P Newton gave the following eulogy:</p>
    <blockquote class="italic font-semibold p-4 my-4 bg-slate-200 rounded-tl-lg border-slate-600 border-[2px]">
        <p>"When I went to prison in 1967, I met George. Not physically, I met him through his ideas, his thoughts and words that I would get from him. He was at Soledad Prison at the time; I was at California Penal Colony.</p>
        <p>George was a legendary figure all through the prison system, where he spent most of his life. You know a legendary figure is known to most people through the idea, or through the concept, or essentially through the spirit. So I met George through the spirit.</p>
        <p>I say that the legendary figure is also a hero. He set a standard for prisoners, political prisoners, for people. He showed the love, the strength, the revolutionary fervor that's characteristic of any soldier for the people. So we know that spiritual things can only manifest themselves in some physical act, through a physical mechanism. I saw prisoners who knew about this legendary figure, act in such a way, putting his ideas to life; so therefore the spirit became a life.</p>
        <p>And I would like to say today George's body has fallen, but his spirit goes on, because his ideas live. And we will see that these ideas stay alive, because they'll be manifested in our bodies and in those young Panther bodies, who are our children. So it's a true saying that there will be revolution from one generation to the next.</p>
        <p>What kind of standard did George Jackson set? First, that he was a strong man, he was determined, full of love, strength, dedication to the people's cause, without fear. He lived the life that we must praise. It was a life, no matter how he was oppressed, no matter how wrongly he was done, he still kept the love for the people. And this is why he felt no pain in giving up his life for the people's cause.</p>
        <p>The state sets the stage for the kind of contradiction or violence that occurs in the world, that occurs in the prisons. The ruling circle of the United States has terrorized the world. The state has the audacity to say they have the right to kill. They say they have a death penalty and it's legal. But I say by the laws of nature that no death penalty can be legal - it's only cold-blooded murder. It gives spur to all sorts of violence, because every man has a contract with himself, that he must keep himself alive at all costs.</p>
        <p>They have the audacity to say that people should deliver a life to them without a struggle; but none of us can accept that. George Jackson had every right, every right to do everything possible to preserve his life and the life of his comrades, the life of the People.</p>
        <p>George Jackson, even after his death, you see, is going on living in a very real way; because after all, the greatest thing that we have is the idea and our spirit, because it can be passed on. Not in the superstitious sense, but in the sense that when we say something or we live a certain way, then when this can be passed on to another person, then life goes on. And that person somehow lives, because the standard that he set and the standard that he lived by will go on living ...</p>
        <p>Even with George's last statement - his last statement to me - at San Quentin that day, that terrible day, he left a standard for political prisoners; he left a standard for the prisoner society of racist, reactionary America; surely he left a standard for the liberation armies of the world. He showed us how to act."</p>
    </blockquote>
    <p class="font-bold text-lg">References:</p>
    <ul class="list-disc list-outside m-2 ml-6">
        <li><a href="http://hartford-hwp.com/archives/45a/091.html" class="text-blue-900">http://hartford-hwp.com/archives/45a/091.html</a></li>
        <li><a href="https://www.blackpast.org/african-american-history/jackson-george-1941-1971/" class="text-blue-900">https://www.blackpast.org/african-american-history/jackson-george-1941-1971/</a></li>
        <li><a href="https://freedomarchives.org/projects/the-50th-anniversary-of-the-august-7th-marin-county-courthouse-rebellion/" class="text-blue-900">https://freedomarchives.org/projects/the-50th-anniversary-of-the-august-7th-marin-county-courthouse-rebellion/</a></li>
    </ul>
</div>
<Footer />
<style>
    body {
        background-color: #C14A36;
        font-family: 'Iosevka Web';
    }
</style>