---
import '@/css/globals.css'

import Header from '../../layouts/header.astro'
import NavBar from '../../layouts/navbar.astro'
import Footer from '../../layouts/Footer.astro'
---

<Header>
    <NavBar />
        <div class="content">
            <div class="text-center">
                <h1 class="font-heading text-3xl font-bold text-gray-900 mb-2">Reform or Revolution</h1>
                <h3 class="font-heading text-xl font-bold text-gray-900 mb-8 sm:mb-14">By: Rosa Luxemburg</h3>
            </div>
            <div class="links">
                <ul class="list-disc list-outside m-2 ml-6">
                    <li>
                        <a href="https://www.marxists.org/archive/luxemburg/1900/reform-revolution/" class="text-blue-900">Read Reform or Revolution</a>
                    </li>
                    <li>
                        <a href="/book-club/RoR/def-hist-context" class="text-blue-900">Definitions and Historical Context</a>
                    </li>
                    <li>
                        <a href="/book-club/RoR/disc0" class="text-blue-900">Discussion Questions - Week 1</a>
                    </li>
                    <li>
                        <a href="/book-club/RoR/disc1" class="text-blue-900">Discussion Questions - Week 2</a>
                    </li>
                </ul>
            </div>
        </div>
    <Footer />
</Header>
<style>
    body {
        background-color: #C14A36;
        font-family: 'Iosevka Web';
    }
    .content {
        background-color: white;
    }
</style>