---
import { Icons } from "@/components/icons"
---
<footer class="py-6 md:px-8 md:py-0">
    <div class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row">
        <p class="text-center text-sm leading-loose text-muted-foreground md:text-left">
            ● Contact Us: <a
                href="mailto:charllottemetrocommclub@gmail.com"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline underline-offset-4 github-link"
            >charllottemetrocommclub@gmail.com</a><br />
            ● <a
                href="/twilio/signup"
                rel="noreferrer"
                class="font-medium underline underline-offset-4 github-link"
            >Sign up for Text Alerts</a>
        </p>
        <p class="text-center text-sm leading-loose text-muted-foreground md:text-left footer-icons">
            <a
                href="https://twitter.com/CharlotteCPUSA"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline underline-offset-4 mr-2"
            ><Icons.twitter /></a>
            <a
                href="https://instagram.com/CharlotteCPUSA"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline underline-offset-4 mr-2"
            ><Icons.instagram /></a>
            <a
                href="https://www.tiktok.com/@charlottemetrocommclub"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline underline-offset-4 mr-2"
            ><Icons.tiktok /></a>
            <a
                href="https://github.com/mvlly23/cmcc-site"
                target="_blank"
                rel="noreferrer"
                class="font-medium underline underline-offset-4 github-link"
            ><Icons.gitHub /></a>
        </p>
    </div>
</footer>
<style>
    p {
        color: white;
    }

    .footer-icons {
        display: flex;
    }
</style>