<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="cmcc" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/globals.css" />
		<link rel="icon" type="image/x-icon" href="/icon.ico" />
		<link href="https://iosevka-webfonts.github.io/iosevka/Iosevka.css" rel="stylesheet" />
		<title>CMCC</title>
	</head>
	<body>
		<slot />
	</body>
</html>
