---
import ImgCarousel from "../components/ImgCarousel";
---
<div class="img-carousel">
    <ImgCarousel client:load />
</div>
<style>
.img-carousel {
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
}
</style>