---
import { NavBar } from '@/components/NavBar';
---
<div class="navbar">
    <NavBar client:load />
</div>
<style>
    .navbar {
        position: fixed;
        width: 100%;
        background-color: white;
        z-index:99;
    }
</style>